<template>
    <section class="hero is-fullheight is-primary is-bold">
        <particlesJS />
        <div class="hero-body">
            <div class="not-too-big">
                <p class="ui-center">
                    <span class="intro-line">
                        DIGEST THE
                        <b>BEST</b> ANIME EVER.
                    </span>
                    <br />
                    <span>
                        Stream shows in high quality such as
                        <b>
                            Naruto Shippuden, My Hero Academia, One Piece, Attack on Titan, Toradora, Blend-S, Gurren Lagann, Bleach, Fullmetal
                            Alchemist, Death Note, Boruto, Jojo
                        </b> and many many more here at Kibii TV!
                    </span>
                    <br />
                    <span style="font-size: 10px;">Brought to you by Kibii, Floatr, and the official Anime Awareness Project.</span>
                </p>
                <router-link to="/anime" class="button is-large is-warning is-outlined start-watching">
                    START WATCHING NOW &nbsp; <b-icon size="is-small" icon="arrow-right" />
                </router-link>
            </div>
        </div>
    </section>
</template>

<script>
    import ParticlesJS from './ParticlesJS.vue';

    export default {
        name: 'Home',
        components: {
            'ParticlesJS': ParticlesJS
        },
        methods: {
            showDialog() {
                this.$snackbar.open({
                    duration: 7000,
                    message: 'Hey there,  Thanks for checking out the Kibii TV beta! Please report any bugs or broken episodes to us.'
                });
            }
        },
        data() {
            return {

            }
        },
        mounted: function () {
            setTimeout(
                function () {
                    this.showDialog();
                }.bind(this),
                1500
            )
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .button.is-warning.is-outlined {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
    }

        .button.is-warning.is-outlined:hover {
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
        }

    .not-too-big {
        z-index: 1;
        margin-left: 5%;
        width: 100%;
        max-width: 1000px; /* Change that as needed */
    }

    .intro-line {
        font-size: 50px;
    }

    .start-watching {
        justify-content: center;
        margin-top: 50px;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    #particles-js {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 0;
        top: 0px;
        left: 0px;

    }

    /* mobile css */
    @media (max-width: 800px) {
        .button {
            width: 304px;
            height: 2em;
            margin-left: -30px;
            margin-top: 15px;
        }

        .intro-line {
            font-size: 30px;
        }

        .ui-center {
            margin-top: -8em;
            margin-left: -1em;
        }
    }
</style>
