<template>
    <section class="container">
        <div class="news-item" v-for="news in terres" :key="news.Id">
            <h1>news.Title</h1>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'NewsList',
        methods: {
            getTerres() {
                this.$http.get(this.API_URL + '/news').then(loli => {
                    this.terres = loli.body // Is this legal?
                })
            }
        },
        data() {
            this.getTerres()
            return {
                terres: []
            }
        }
    }
</script>

<style scoped>
</style>
