<template>
  <section class="container">
      <div class="news-item">
          
      </div>
  </section>
</template>

<script>
export default {
  name: 'News',
  methods: {
    getTerres (id) {
      this.$http.get(this.API_URL + '/news/' + id).then(loli => {
        this.terres = loli.body // Is this legal?
      })
    }
  },
  data () {
    this.getTerres(this.$route.params.id || 'latest')
    return {
      terres: []
    }
  }
}
</script>

<style scoped>
</style>
