<template>
  <section class="container">
      <h1> Coming soon. This webpage is under construction by Kibii Inc.</h1>
  </section>
</template>

<script>
export default {
  name: 'Privacy',
  methods: {
    getTerresPledgeToKeepYourDataSafeWithinHerCuteThighs () {
      this.$http.get(this.API_URL + '/privacy/latest').then(terre => {
        this.pledgeToKeepYourDataSafeWithTerresThighs = terre.body.Html // OwO "terre.body"
        this.lastUpdated = terre.body.Timestamp
        this.pledgeToKeepYourDataSafeWithTerresThighsRaw = terre.body.Raw
      })
    }
  },
  data () {
    this.getTerresPledgeToKeepYourDataSafeWithinHerCuteThighs()
    return {
      lastUpdated: '',
      pledgeToKeepYourDataSafeWithTerresThighs: '',
      pledgeToKeepYourDataSafeWithTerresThighsRaw: ''
    }
  }
}
</script>

<style scoped>
</style>
