<template>
  <section class="container">
      <h1> Coming soon. This webpage is under construction by Kibii Inc.</h1>
  </section>
</template>

<script>
export default {
  name: 'Staff',
  methods: {
    getTerres () {
      this.$http.get(this.API_URL + '/staff').then(loli => {
        this.terres = loli.body // Is this legal?
      })
    }
  },
  data () {
    this.getTerres()
    return {
      terres: []
    }
  }
}
</script>

<style scoped>
</style>
