<template>
  <section class="container">
      <h1> Coming soon. This webpage is under construction by Kibii Inc.</h1>
  </section>
</template>

<script>
export default {
  name: 'Terms',
  methods: {
    getTerresLoliRules () {
      this.$http.get(this.API_URL + '/terms/latest').then(rules => {
        this.terresSuperStrictLoliRules = rules.body.Html // Lets keep Kibii safe with terre!
        this.lastUpdated = rules.body.Timestamp
        this.terresSuperStrictLoliRulesRaw = rules.body.Raw
      })
    }
  },
  data () {
    this.getTerresLoliRules()
    return {
      lastUpdated: '',
      terresSuperStrictLoliRules: '',
      terresSuperStrictLoliRulesRaw: ''
    }
  }
}
</script>

<style scoped>
</style>
