<template>
    <section class="container is-widescreen is-fluid">
        <br />
        <div class="anime-info" v-if="loaded">
            <div class="cover-area">
                <div class="external-site-btns">
                    <img class="cover" :src="CDN_URL + anime.CoverId" />
                    <p><a class="button is-link annict-btn" :href="'https://annict.com/works/' + anime.AnnictId || 0">View on Annict</a>
                    <p><a class="button is-link mal-btn" :href="'https://myanimelist.net/anime/' + anime.MalId || 0">View on MyAnimeList</a></p>
                </div>
            </div>
            <div class="anime-info-side">
                <div>
                    <div class="details">
                        <div class="name">
                            <p>{{ anime.Title }}</p>
                        </div>
                        <div class="genre-list">
                            <div class="genre" v-for="genre in anime.Genres" :key="genre.Id">
                                <router-link :to="'/anime?genre=' + genre.Id" class="button is-dark is-normal is-outlined is-rounded">{{ genre.Name }}</router-link>
                            </div>
                        </div>
                        <div class="desc">
                            <p>{{ anime.Description }}</p>
                        </div>
                    </div>
                </div>
                <hr style="margin-left: 5%; margin-right: 50px;" />
                <div class="episode-list">
                    <div v-for="episode in episodes" :key="episode.Id" class="episode">
                        <div @click="sendToWatchPage(episode.EpisodeNumber, episode.Title)" class="thumbnail" :style="'background-image: url(' + CDN_URL + episode.ThumbnailId + ');'">
                        </div>
                        <router-link class="episode-name" :to="'/anime/' + anime.Id + '/' + $slug(anime.Title) + '/watch/' + episode.EpisodeNumber + '/' + $slug(episode.Title || `#${episode.EpisodeNumber} - ${anime.Title}`)">{{ episode.Title || `#${episode.EpisodeNumber} - ${anime.Title}` }}</router-link>
                        <div @click="sendToWatchPage(episode.EpisodeNumber, episode.Title)" class="hover-description">
                            <span>
                                <h1>
                                    {{ episode.Title || `Episode ${episode.EpisodeNumber}` }}
                                </h1>
                                <h3>
                                    Episode {{ episode.EpisodeNumber }} - Aired on {{
 new Date(episode.Aired).toLocaleDateString('en-US', { weekday: 'long', year:
              'numeric', month: 'long', day: 'numeric' })
                                    }}
                                </h3>
                                <p class="ep-desc">
                                    {{ shortenDescription(episode.Description || anime.Description || '', 150) }}
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </section>
</template>

<script>
    export default {
        name: 'Anime',
        methods: {
            sendToWatchPage(epNumber, epTitle) {
                this.$router.push('/anime/' + this.anime.Id + '/' + this.$slug(this.anime.Title) + '/watch/' + epNumber + '/' + this.$slug(epTitle || `#${epNumber} - ${this.anime.Title}`));
            },

            shortenDescription(desc, maxLength) {
                return this.$shortenDescription(desc, maxLength);
            },

            getAnimeDetails(id) {
                this.$http.get(this.API_URL + '/anime/' + id).then(data => {
                    this.anime = data.body.Info
                    this.episodes = data.body.Episodes;
                    this.animePvs = data.body.Pvs;
                    this.finishLoad();
                });
            },

            beginLoad() {
                this.loadingComponent = this.$loading.open()
            },

            finishLoad() {
                this.loaded = true
                this.loadingComponent.close()
            }
        },
        data() {
            this.beginLoad()
            this.getAnimeDetails(this.$route.params.id)
            return {
                episodes: '',
                anime: '',
                animePvs: '',
                loaded: ''
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .anime-info-side {
        margin-left: -4%;
    }

    .anime-info {
        display: flex;
        margin: 0 0 0 10%;
        justify-content: flex-start;
        align-content: center;
    }

        .anime-info .name {
            font-size: 50px;
            margin-left: 5%;
        }

        .anime-info .genre {
            display: inline;
            padding: 5px;
        }

        .anime-info .genre-list {
            margin-left: 4.8%;
            padding: 0 10px 10px 0;
        }

        .anime-info .desc {
            margin-left: 5%;
            margin-right: 5%;
        }

        .anime-info .cover {
            height: 350px;
            width: auto;
            box-shadow: 0 0 15px #000;
            -webkit-box-shadow: 0 0 15px #000;
            border-radius: 8px;
        }

    .cover-area {
        margin-top: 10vh;
        width: 100%;
        margin-right: auto;
    }

    .external-site-btns .mal-btn {
        min-width: 88%;
        max-width: 100%;
        width: auto;
    }

    .external-site-btns .annict-btn {
        margin-bottom: 10px;
        margin-top: 10px;
        min-width: 88%;
        max-width: 100%;
        width: auto;
    }

    .episode-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        justify-content: center;
        counter-reset: episode-count;
        margin-left: -2%;
    }

    .episode {
        display: inline-grid;
        cursor: pointer;
        transition: all ease-out 0.1s;
        position: relative;
        background: transparent;
        padding: 10px;
    }

    .episode-name {
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .episode .thumbnail {
        background: hsl(280, 40%, 40%);
        background-size: cover;
        padding-top: 60%;
        border-radius: 6px;
        box-shadow: 0 0 15px #000;
        -webkit-box-shadow: 0 0 15px #000;
        position: relative;
    }

        .episode .thumbnail::after {
            counter-increment: episode-count;
            content: counter(episode-count);
            display: flex;
            align-items: center;
            justify-content: center;
            background: hsla(0, 60%, 60%, 0.6);
            position: absolute;
            color: #fff;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            font-weight: 500;
            border-radius: 6px 0 0 0;
        }

    .episode:hover {
        background: rgb(71, 71, 71);
        border-radius: 6px 0 0 6px;
    }

        .episode:hover .episode-name,
        .episode:hover .episode-details {
            visibility: hidden;
        }

    .episode .hover-description {
        position: absolute;
        pointer-events: none;
        z-index: 150;
        left: 100%;
        top: 0;
        opacity: 0;
        width: 150%;
        height: 100%;
        color: #fff;
        background: rgb(71, 71, 71);
        transition: all ease-out 0.1s;
        display: none;
        padding: 5px;
        box-shadow: 4px -3px 4px rgb(226, 226, 226);
        border-radius: 0 6px 6px 0;
    }

        .episode .hover-description h1 {
            font-size: 1.5rem;
            color: #fff;
            margin: 0;
            margin-top: 10px;
        }

        .episode .hover-description h3 {
            font-size: 0.75rem;
            margin: 0;
            margin-bottom: 15px;
        }

        .episode .hover-description p {
            font-size: 0.9rem;
        }

    .episode:hover .hover-description {
        opacity: 1;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    a {
        color: black;
    }

        a:hover {
            color: hotpink;
        }

    @media (max-width: 800px) {
        .anime-info .name {
            font-size: 25px;
            margin-right: 5%;
        }

        .anime-info .desc {
            margin-left: 25px;
        }
    }
</style>
