<template>
    <section class="container is-widescreen is-fluid" v-if="loaded">
        <div class="anime-list">
            <div v-for="a in anime" :key="a.Id" class="anime">
                <div @click="sendToAnimeInfo(a.Id, a.Title)" :style="'background-image: url(' + CDN_URL + a.CoverId + ');'" class="pic">
                    <router-link :to="'/anime/' + a.Id + '/' + $slug(a.Title)"></router-link>
                </div>
                <div class="name">
                    <router-link class="title-link" :to="'/anime/' + a.Id + '/' + $slug(a.Title)">{{ a.Title }}</router-link>
                </div>
                <div class="details">
                    <p>
                        {{
 `${a.Type === 2 ? 'Movie' : (a.EpisodeCount + ' ' + (a.EpisodeCount > 1 ? 'Episodes' : 'Episode'))} - ${new
            Date(a.StartedAiringDate || a.FinishedAiringDate).getFullYear()}`
                        }}
                    </p>
                </div>
                <div @click="sendToAnimeInfo(a.Id, a.Title)" class="hover-description">
                    <span>
                        <h1>
                            {{ a.Title }}
                        </h1>
                        <h3>
                            {{ a.JapaneseTitle }}
                        </h3>
                        <p class="desc">
                            {{ shortenDescription(a.Description, 200) }}
                        </p>
                    </span>
                </div>
            </div>
        </div>

        <hr />
        <nav class="pagination is-large" role="navigation" aria-label="pagination">
            <a :href="'/anime?page=' + (parseInt(currentPage) - 1)" class="pagination-previous">
                <b-icon size="is-medium" icon="angle-left" />
            </a>
            <a :href="'/anime?page=' + (parseInt(currentPage) + 1)" class="pagination-next">
                <b-icon size="is-medium" icon="angle-right" />
            </a>
            <ul class="pagination-list">
                <li>
                    <a href="/anime?page=1" class="pagination-link" aria-label="Goto page 1">1</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li v-if="parseInt(currentPage) > 1">
                    <a :href="'/anime?page=' + (currentPage - 1)" class="pagination-link" v-html="currentPage - 1" aria-label="Previous Page"></a>
                </li>
                <li>
                    <a :href="'/anime?page=' + (currentPage)" class="pagination-link is-current" aria-current="Current Page">{{ currentPage }}</a>
                </li>
                <li>
                    <a :href="'/anime?page=' + (parseInt(currentPage) + 1)" class="pagination-link" v-html="parseInt(currentPage) + 1" aria-label="Next page"></a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a :href="'/anime?page=' + totalPages" class="pagination-link" aria-label="Goto next page">{{ totalPages }}</a>
                </li>
            </ul>
        </nav>
        <br />
    </section>
</template>

<script>
    export default {
        name: 'AnimeList',
        methods: {
            sendToAnimeInfo(id, title) {
                this.$router.push('/anime/' + id + '/' + this.$slug(title));
            },

            shortenDescription(desc, maxLength) {
                return this.$shortenDescription(desc, maxLength);
            },

            getAnime(sort, order, page, genre, query) {
                this.$http
                    .get(this.API_URL + '/anime/search?sort=' + sort + '&order=' + order + '&page=' + page + query) // + '&genre=' + genre
                    .then(data => {
                        this.perPage = data.body.PerPage
                        this.totalPages = data.body.PageCount
                        this.currentPage = data.body.Page
                        this.anime = data.body.Results
                        this.finishLoad()
                    })
            },

            beginLoad() {
                this.loadingComponent = this.$loading.open()
            },

            finishLoad() {
                this.loaded = true
                this.loadingComponent.close()
            }
        },
        data() {
            this.beginLoad()

            let q = this.$route.query.query || ''
            let p = this.$route.query.page || 1
            let g = this.$route.query.genre || 0
            let s = this.$route.query.sort || 'rating'
            let o = this.$route.query.order || 'descending'

            if (parseInt(p) < 1) { p = 1 }
            if (q !== '') { q = '&query=' + q }
            if (parseInt(g) < 1) { g = 0 }

            this.getAnime(s, o, p, g, q)

            return {
                totalPages: '',
                currentPage: '',
                perPage: '',
                loaded: false,
                anime: []
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    .anime .pic {
        background: hsl(280, 40%, 40%);
        background-size: cover;
        padding-top: 141.4285%;
        border-radius: 6px;
        box-shadow: 0 0 15px #000;
        -webkit-box-shadow: 0 0 15px #000;
    }

    .anime .title-link {
        color: black;
    }

        .anime .title-link:hover {
            color: hotpink;
        }

    .anime .name {
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .anime .details {
        color: rgba(0, 0, 0, 0.533);
        font-size: 0.75em;
    }

    .anime-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        justify-content: center;
    }

    .anime {
        padding: 10px;
        cursor: pointer;
        transition: all ease-out 0.1s;
        position: relative;
        background: transparent;
    }

        .anime:hover {
            background: rgb(71, 71, 71);
            border-radius: 6px 0 0 6px;
        }

            .anime:hover .name,
            .anime:hover .details {
                visibility: hidden;
            }

        .anime .hover-description {
            position: absolute;
            pointer-events: none;
            z-index: 150;
            left: 100%;
            top: 0;
            opacity: 0;
            width: 150%;
            height: 100%;
            color: #fff;
            background: rgb(71, 71, 71);
            transition: all ease-out 0.1s;
            display: none;
            padding: 5px;
            box-shadow: 4px -3px 4px rgb(226, 226, 226);
            border-radius: 0 6px 6px 0;
        }

            .anime .hover-description h1 {
                font-size: 1.5rem;
                color: #fff;
                margin: 0;
                margin-top: 10px;
            }

            .anime .hover-description h3 {
                font-size: 0.75rem;
                margin: 0;
                margin-bottom: 15px;
            }

            .anime .hover-description p {
                font-size: 0.9rem;
            }

        .anime:hover .hover-description {
            opacity: 1;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
</style>
