<template>
  <section class="container">
    <p class="title">
       THIS SECTION IS UNDER CONSTRUCTION, COMING SOON!
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <b-icon size="is-large" icon="gavel" />
    </p>
    <br />
  </section>
</template>

<script>
export default {
  name: 'Discover',
  data () {
    return {

    }
  }
}
</script>
