<template>
    <section class="container is-widescreen is-fluid" v-if="loaded">
        <div class="blob-placeholder">
            <div class="blob-control">
                <div class="anime-title">
                    <p>{{ anime.Title }}</p>
                </div>
                <div class="next-prev">
                    <p>
                        <router-link v-if="previousEpisode !== undefined" :to="'/anime/' + anime.Id + '/' + $slug(anime.Title) + '/watch/' + previousEpisode.EpisodeNumber + '/' + $slug(previousEpisode.Title || `#${previousEpisode.EpisodeNumber} - ${anime.Title}`)">PREVIOUS</router-link>
                        <span v-if="previousEpisode !== undefined">&dash;</span>
                        <router-link v-if="nextEpisode !== undefined" :to="'/anime/' + anime.Id + '/watch/' + nextEpisode.EpisodeNumber + '/' + $slug(nextEpisode.Title || `#${nextEpisode.EpisodeNumber} - ${anime.Title}`)">NEXT</router-link>
                    </p>
                </div>
                <div class="control has-icons-left selector">
                    <div class="select is-medium">
                        <select v-model="host" @change="onHostChange">
                            <option v-for="(embed, idx) in embeds" :key="embed.Id" :value="embed.Id" :selected="{ 'selected': idx === 0 }">{{ `${embed.Name} - ${embed.Quality}p` }}</option>
                        </select>
                    </div>
                    <span class="icon is-medium is-left">
                        <i class="fas fa-play-circle"></i>
                    </span>
                </div>
            </div>
            <hr class="blob-divider" />
            <div class="blob-container">
                <iframe @mouseover="handleWatchBegin" id="blob-player" allowfullscreen noscrollbar frameborder="0" marginwidth="0" marginheight="0"
                        scrolling="NO" :src="blobSource"></iframe>
            </div>
        </div>
        <div class="episode-details">
            <img @click="showAnimeInfo(anime.Id, anime.Title)" class="thumbnail" :src="CDN_URL + anime.CoverId" />
            <div class="info">
                <p class="name">{{ episode.Title || `${anime.Title} - Episode ${episode.EpisodeNumber}` }}</p>
                <p class="episode-number">EPISODE {{ episode.EpisodeNumber }}</p>
                <hr class="info-divider" />
                <p class="desc">{{ episode.Description || 'There is no description available for this episode.' }}</p>
            </div>
        </div>
        <br />
    </section>
</template>

<script>
    export default {
        name: 'Watch',
        methods: {
            showAnimeInfo(id, title) {
                this.$router.push('/anime/' + id + '/' + this.$slug(title));
            },

            handleWatchBegin(event) {
                if (!this.startedViewCounter) {
                    this.startedViewCounter = true
                    this.beginViewSession().then((data) => {
                        console.log('Episode session started! Session ID: ' + data.body.Key);
                        setTimeout(() => {
                            if (!this.disableCounter) {
                                this.finishViewSession(data.body.Key);
                            } else {
                                console.log('Session completion was disabled due to destruction of page!');
                            }
                            console.log('Episode session ended! Session ID: ' + data.body.Key);
                        }, 71000);
                    });
                }
            },

            beginViewSession() {
                return this.$http.post(this.API_URL + '/sessions', {
                    AnimeId: this.anime.Id,
                    EpisodeId: this.episode.Id,
                    AdsOptedOut: true,
                    Type: 0
                });
            },

            finishViewSession(sessionKey) {
                this.$http.post(this.API_URL + '/sessions/' + sessionKey + '/continue').then(session => {
                    if (session.body.Success) {
                        console.log('Session completion success!');
                    }
                });
            },

            onHostChange() {
                this.blobSource = this.API_URL + '/blobs/' + this.host + '/generate?Session-Key=' + this.$getSession();
            },

            getAnimeDetails(id, animeId) {
                this.$http.get(this.API_URL + '/anime/' + animeId).then(data => {
                    this.episodes = data.body.Episodes;
                    this.anime = data.body.Info;
                    this.episode = this.episodes.find(x => x.EpisodeNumber === parseInt(id));
                    this.previousEpisode = this.episodes.find(x => x.EpisodeNumber === this.episode.EpisodeNumber - 1);
                    this.nextEpisode = this.episodes.find(x => x.EpisodeNumber === this.episode.EpisodeNumber + 1);

                    this.$http.get(this.API_URL + '/episodes/' + this.episode.Id + '/blobs').then(data => {
                        this.embeds = data.body
                        this.blobSource = this.API_URL + '/blobs/' + data.body[0].Id + '/generate?Session-Key=' + this.$getSession()
                        this.finishLoad();
                    });
                })
            },

            beginLoad() {
                this.loadingComponent = this.$loading.open();
            },

            finishLoad() {
                this.loaded = true
                this.loadingComponent.close();
            }
        },
        data() {
            this.beginLoad();
            this.getAnimeDetails(this.$route.params.episodeId, this.$route.params.animeId);
            return {
                blobSource: '',
                previousEpisode: '',
                nextEpisode: '',
                host: '',
                episodes: [],
                episode: {},
                anime: {},
                startedViewCounter: false,
                disableCounter: false,
                loaded: false,
                embeds: []
            }
        },

        beforeDestroy() {
            this.disableCounter = true;
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .episode-details {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        margin: 0 20% 0 20%;
        margin-top: 1.2%;
    }

        .episode-details .thumbnail {
            height: 150px;
            width: auto;
            box-shadow: 0 0 15px #000;
            -webkit-box-shadow: 0 0 15px #000;
            border-radius: 4px;
            margin-right: 10px;
            cursor: pointer;
        }

    .next-prev {
        margin-top: 10px;
    }

    .episode-details .info {
        margin-left: 1%;
    }

    .episode-details .desc {
        margin-right: 10%;
    }

    .episode-details .episode-number {
        font-size: 10px;
        margin: 0;
        margin-left: 2px;
        margin-bottom: 5px;
    }

    .episode-details .info-divider {
        margin: 3px 10% 3px 3px;
        background-color: #4e4e4e;
    }

    .episode-details .name {
        font-size: 30px;
        margin-bottom: 0;
    }

    .blob-placeholder {
        margin: 20%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .blob-control {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        margin-bottom: 0;
    }

        .blob-control .ui-host {
            margin-top: 2px;
            font-size: 25px;
        }

        .blob-control .anime-title {
            margin-right: 5%;
            margin-top: 0;
            font-size: 30px;
        }

        .blob-control .selector {
            margin-left: 15px;
        }

    .blob-divider {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .blob-container {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        max-width: 100%;
        box-shadow: 0 0 15px #000;
        -webkit-box-shadow: 0 0 15px #000;
    }

        .blob-container iframe {
            position: absolute;
            border: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
        }

    /* mobile css */
    @media (max-width: 800px) {
        .anime-title {
            font-size: 20px;
        }
    }
</style>
