<template>
    <nav class="navbar navbar-text">
        <div class="navbar-brand">
            <router-link class="navbar-item" to="/">
                <img src="/favicon.png" alt="Kibii TV" height="50">
                <span class="logo-text">&nbsp;KIBII</span>
            </router-link>
            <div @click="toggleMenu" :class="['navbar-burger', 'burger', {'is-active': navIsActive}]" data-target="mainNav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="mainNav" :class="['navbar-menu', {'is-active': navIsActive}]">
                <form action="/anime" method="GET">
                <div class="control">
                    <input name="query" style="margin-top: 13px; margin-right: 13px; margin-left: 5px;" class="input" type="text" placeholder="Search">
                </div>
            </form>
            <div style="margin-left: 10px;" class="navbar-start">
                <router-link class="navbar-item" to="/anime">
                    ANIME
                </router-link>
                <router-link class="navbar-item" to="/discover">
                    DISCOVER
                </router-link>
                <router-link class="navbar-item" to="/news">
                    NEWS
                </router-link>
                <router-link class="navbar-item" to="/partners">
                    PARTNERS
                </router-link>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <!-- Nothing will be put here. -->
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      navIsActive: false
    };
  },
  methods: {
    toggleMenu: function() {
      this.navIsActive = !this.navIsActive;
    }
  }
};
</script>

<style>
nav {
  z-index: 2 !important;
}

.navbar-text {
  font-size: 20px;
}

.logo-text {
  font-size: 30px;
}
</style>
