<template>
  <section class="container">
      <h1> Coming soon. This webpage is under construction by Kibii Inc.</h1>
      <p> Email us at <code>me@bin.moe</code> </p>
  </section>
</template>

<script>
export default {
  name: 'Contact',
  data () {
    return {

    }
  }
}
</script>

<style scoped>
</style>
