<template>
  <section class="container">
      <h1> Coming soon. This webpage is under construction by Kibii Inc.</h1>
  </section>
</template>

<script>
export default {
  name: 'Report',
  data () {
    return {

    }
  }
}
</script>

<style scoped>
</style>
