<template>
    <div id="app">
        <Navbar />

        <div class="compontent-body">
            <router-view :key="this.$route.fullPath"></router-view>
        </div>

        <footer>
            <div>
                <router-link to="/">
                    <img class="footer-img" src="/favicon.png" alt="Kibii TV" />
                </router-link>
                <a class="link-img" href="https://discord.gg/2keWYZs" target="_blank">
                    <img class="discord-img" src="/discord_logo.png" alt="Kibii Official Discord" />
                </a>
                <a class="twitter-link-img" href="https://twitter.com/kibiinc" target="_blank">
                    <img class="twitter-img" src="/twitter_logo.png" alt="Kibii Official Twitter" />
                </a>
                <div class="is-pulled-right right">
                    <router-link to="/privacy">
                        <p>PRIVACY</p>
                    </router-link>
                    <router-link to="/staff">
                        <p>STAFF</p>
                    </router-link>
                    <router-link to="/report">
                        <p>REPORT</p>
                    </router-link>
                    <router-link to="/contact">
                        <p>CONTACT</p>
                    </router-link>
                    <router-link to="/affiliates">
                        <p>AFFILIATES</p>
                    </router-link>
                    <router-link to="/terms">
                        <p>TERMS</p>
                    </router-link>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
import Navbar from './Components/Content/Navbar';

    export default {
        name: 'App',
        components: {
            Navbar
        }
    }
</script>

<style scoped>
.compontent-body {
  flex: auto;
  min-height: 100vh;
}

footer {
  position: relative;
  background-color: rgb(151, 151, 151);
}

.footer-img {
  max-width: 30px;
  max-height: 30px;
  margin-top: 5px;
  margin-left: 5px;
  object-fit: scale-down;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.footer-img:hover {
  opacity: 0.5;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.discord-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: scale-down;
}

.link-img {
  position: absolute;
  margin-top: 5.5px;
  margin-left: 1%;
  color: black;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.twitter-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: scale-down;
}

.twitter-link-img {
  position: absolute;
  margin-top: 5px;
  margin-left: 3.5%;
  color: black;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.link-img:hover {
  opacity: 0.5;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.twitter-link-img:hover {
  opacity: 0.5;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

footer a {
  font-size: 20px;
  margin-left: 25px;
  color: #333333;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

footer a:hover {
  color: #806b80;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.right {
  display: flex;
  margin-right: 1%;
  margin-top: 0.3%;
}
</style>

<style>
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 155, 208);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(191, 112, 154);
}
</style>
