<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118764741-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        // Global Site Tag 'gtag' for Google Analytics
        gtag('config', 'UA-118764741-1');
    </script>

    <title>Kibii TV</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="all,follow">
    <meta name="theme-color" content="#E05E97">

    <meta property="article:publisher" content="https://twitter.com/kibiinc">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Kibii TV - Stream high quality anime anywhere!">
    <meta property="og:title" content="@(@TempData["MetaTitle"] ?? "Kibii TV")">
    <meta property="og:url" content="@(@TempData["MetaUrl"] ?? "https://beta.kibii.tv")">
    <meta property="og:image" content="@(@TempData["MetaImageUrl"] ?? "https://beta.kibii.tv/favicon.png")">
    <meta property="og:description" content="@(@TempData["MetaDescription"] ?? "Stream shows from Attack on Titan, Gurren Lagann, ALDNOAH.ZERO, My Hero Academia, and Bleach all from Kibii TV!")">

    <meta name="description" content="@(@TempData["MetaDescription"] ?? "Stream shows from Attack on Titan, Gurren Lagann, ALDNOAH.ZERO, My Hero Academia, and Bleach all from Kibii TV!")">
    <meta name="twitter:image" content="@(@TempData["MetaImageUrl"] ?? "https://beta.kibii.tv/favicon.png")">
    <meta name="twitter:card" content="@(@TempData["MetaCardType"] ?? "summary")">
    <meta name="twitter:description" content="@(@TempData["MetaDescription"] ?? "Stream shows from Attack on Titan, Gurren Lagann, ALDNOAH.ZERO, My Hero Academia, and Bleach all from Kibii TV!")">
    <meta name="twitter:title" content="@(@TempData["MetaTitle"] ?? "Kibii TV")">
    <meta name="twitter:site" content="@@kibiinc">
    <meta name="twitter:creator" content="@@kibiinc">

    @if (!string.IsNullOrWhiteSpace((string)TempData["MetaPlayerUrl"]))
    {
        @if (!string.IsNullOrWhiteSpace((string)TempData["MetaPlayerIsCustom"]))
        {
            <meta name="twitter:player:stream" content="@TempData["MetaPlayerUrl"]">
            <meta name="twitter:player:stream:content_type" content="video/mp4">
        }

        <meta name="twitter:player" content="@TempData["MetaPlayerUrl"]">
        <meta name="twitter:player:width" content="720">
        <meta name="twitter:player:height" content="720">
    }

    <link rel="canonical" href="https://beta.kibii.tv">
    <link rel="publisher" href="https://twitter.com/kibiinc">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
</head>
<body>
    @RenderBody()
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
